.coffee-button {
    border-radius: 0;
    border-width: 0px;
    background-color: @list_box_bg;
    box-shadow: 4px 4px 7px 0px rgba(50, 50, 50, 0.40);
}

.coffee-button-background {
    background-image: url("resource:///ui/coffee.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.coffee-beans-background {
    background-image: url("resource:///ui/background.jpg");
    background-size: cover;
}

.coffee-button:hover {
    background-color: @content_view_bg;
}